@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200&display=swap');


:root {
    --couleur-de-fond: #efe7e5 ;
    --couleur-text: black;
    --hauteur-menu: 60px;
}

body {
    font-family: 'Unbounded', cursive;
    margin: 3% 15%;
    background-color : var(--couleur-de-fond);
    color : var(--couleur-text);
}

p {
    line-height: 25px;
}

nav {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    font-weight: 500;
    list-style-type: none;
}

nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
}

nav ul li {
    margin-left: 40px;
    font-size: 15px;
    cursor: pointer;
    position: relative;
}

nav > ul > li {
    background-color: #efe7e5;
    position: relative;
    height: 100%;
    flex: 1;
}

nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li a {
    text-decoration: none;
    color: black;
}

.menu-deroulant > a:after{
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}

nav > ul > li:hover > a{
    color: #2169EC;
}


header {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .PartieGauche {
    flex: 6;
    margin-right: 50px;
}

header .PartieGauche small {
    font-weight: bold;
    display: flex;
    align-items: center;
}

header .PartieGauche h1 {
    font-size: 30px;
    font-weight: 400;
    margin-top: 50px;
}

header .PartieGauche .links {
    margin-top: 40px;
}

header .PartieGauche .links a{
    text-decoration: none;
    color: inherit;
    position:relative;
    margin-right: 40px;
    font-weight: bold;
}

header .PartieDroite {
    flex: 5;
}

header .PartieDroite img {
    width: 100%;
    height: 600px;
    
}

header .PartieDroite .photo {
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    border-radius: 70%;
    clip-path:ellipse(50% 40%);
}

.APropos {
    margin-top: 100px;
}

.APropos p {
    font-size: 15px;
    line-height: 30px;
    font-weight: 200;
}

.Projets { 
    margin-top: 60px;
}

.Projets .LesProjets {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.Projets .LesProjets .PartieImage  {
    margin-right: 40px;
}

.Projets .LesProjets .PartieImage img {
    height: 200px;
    
}

.Projets .LesProjets .PartieDescription .liens a{
    text-decoration: none;
    color: inherit;
    position:relative;
    margin-right: 40px;
    font-weight: bold;
}



footer {
    margin-top: 100px;
}

footer p {
    font-size: 15px;
}

@media screen and (max-width:880px) {
    .LesProjets .PartieImage {
        flex-wrap: wrap;
    }

    .CV {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:621px) {
    header{
        flex-direction: column-reverse;
    }

    .Projets .LesProjets .PartieImage{
        width: 100%;
        flex-direction: column-reverse;
    }

    .CV {
        width: 100%;
    }
}

.CV {
    text-align: center;
}


.reveal {
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.5,0,0,1);
}


